@media only screen and (max-width: 960px) {

	.row {
		padding: 0 2%;
	}

	.present-type {
		width: 50%;
	}

}


@media only screen and (max-width: 768px) {

	h2,
	.promo-box h2,
	.designers h2,
	.presents-images-head,
	.make-order h2,
	.development-stages h2,
	.testimonials h2,
	.service h2,
	.service-head-bold {
		font-size: 40px;
		line-height: 48px;
	}

	.headersite {
		text-align: center;
		padding: 1% 0;
	}

	.logo-box {
		padding: 0 0px 0 0;
		display: inline-block;
		vertical-align: middle;
	}

	.logo-image {
		width: 158px;
		height: 72px;
		margin: 0 auto;	
	}

	.tel-contacts-top {
		border: none;
		padding: 0 2%;
	}

	.top-num-contacts {
		font-size: 20px;
		line-height: 24px;
	}

	.recommendation-img {
		padding: 0 5%;
		display: inline-block;
		vertical-align: middle;
	}

	.recommendation-img {
		width: 100px;
		height: 100px;
	}

	.promo-form-contacts {
		width: 70%;
	}

	.artcle-box {
		width: 50%;
	}

	.present-type {
		width: 50%;
	}

	.how-make-order {
		width: 43%;
		padding: 0 5%;
	}

/*	.glyphicon-chevron-right:nth-child(odd) {
		color: red;
	}*/

/*	.howmakeorder-arrow-right:nth-child(odd) {
		display: "none";
	}*/

	.send-order-inpt {
		width: 70%;
	}

	.send-order-btn {
		width: 70%;
	}

	.callback-form {
		text-align: center;
	}

	.callback-description {
		width: 70%;
		font-size: 20px;
		line-height: 28px;
	}

	.callback-num {
		width: 70%;
	}

	.callback-btn {
		width: 70%;
	}

	footer {
		text-align: center;
	}

	.footer-bg {
		padding: 10px 0;
	}

	.footer-col {
		width: 70%;
		text-align: center;
	}

	.footer-head {
		font-size: 24px;
		line-height: 24px;
		padding: 25px 0 15px 0;
	}

	.company-info {
		display: none;
	}

	.footer-contacts a {
		font-size: 24px;
		line-height: 40px;
	}

	.footer-contacts-col ul .responsive {
		display: block;
	}

	.footer-form-head {
		font-size: 24px;
		padding: 20px 0;
		border-top: 2px solid #434850;
	}

	.questions-form-btn {
		font-size: 24px;
		line-height: 45px;
		width: 100%;
	}

	.name-field, .email-field, .text-field {
		font-size: 20px;
		padding: 9px 15px;
	}

	.textarea-footer-box {
		height: 110px;
	}

	.text-field {
		height: 120px;
	}

	.questions-form-btn {
		padding: 2px 10px;
	}

}


@media only screen and (max-width: 660px) {

	.present-type {
		width: 90%;
		margin: 0 auto;
		display: block;
		text-align: center;
	}

	.present-type h3 {
		font-size: 27px;
		line-height: 37px;
	}

	.present-eskiz-product {
		margin: 40px auto;
	}

	.exists-present {
		font-size: 20px;
		padding: 0 30px;
	}


	.present-price {
		text-align: left;
		padding: 10% 0 0 0;
	}

	.product-description-item {
		font-size: 20px;
		line-height: 30px;
	}

	.upload-text {
		float: none;
		font-size: 16px;
		line-height: 18px;
	}

	.chose_file {
		display: block;
		margin: 30px auto;
	}



}

@media only screen and (max-width: 480px) {

	h2,
	.promo-box h2,
	.designers h2,
	.presents-images-head,
	.make-order h2,
	.development-stages h2,
	.testimonials h2,
	.service h2,
	.service-head-bold {
		font-size: 33px;
		line-height: 42px;
	}

	.logo-box {
		display: inline-block;
		vertical-align: middle;
		width: 40%;
	}

	.contacts-recom-box {
		width: 60%;
	}

	.logo-box-head {
		/*display: none;*/
	}

	.tel-contacts-top,
	.recommendation-img {
		display: inline-block;
		vertical-align: middle;
	}

	.tel-contacts-top,
	.recommendation {
		width: 100%;
		text-align: right;
	}

	.top-num-contacts {
		display: block;
		font-size: 18px;
		line-height: 21px;
	}

	.recommendation {
		padding: 1% 0;
	}

	.recommendation-img {
		float: none;
	}

	.promo-box .row {
		margin: 45px auto 100px auto;
	}

	.promo-form-contacts {
		width: 100%;
	}

	.artcle-box {
		width: 100%;
	}

	.how-make-order {
		width: 100%;
		margin: 30px 0 0 0;
	}

	.howmakeorder-arrow-right {
		-webkit-transform: rotate(90deg);
		-moz-transform: rotate(90deg);
		-o-transform: rotate(90deg);
		transform: rotate(90deg);
		font-size: 40px;
		line-height: 90px;
	}

	.send-order-inpt,
	.send-order-btn {
		width: 98%;
	}

	.callback-num,
	.callback-btn {
		width: 100%;
		margin: 2% 0;
	}

	.service-item {
		width: 100%;
	}

	.footer-col {
		width: 100%;
		padding: 0 0 10px 0;
	}

	.mail a {
		font-size: 20px;
	}

}

@media only screen and (max-width: 320px) {

	.present-type {
		width: 100%;
	}

}